.red-wel-pad{
    padding: 0;
    margin-bottom: 250px;
}

.path{
    background-color: #0661E8;
    position: absolute;
    width: 100%;
    height: 100vh;
    clip-path: circle(180vh at 50% -150vh);
    text-align: center;
    padding-top: 50px;
    
    
}
.red-ser-c-1-1{
    background-color: white;
    padding: 0;
   
    margin-bottom: 60px;
    margin-top: 60px;
   
    
   }
   .f-c-a-1-2{
    color: #2b577c;
   }