.bg-info1{
    background-color: white; 
}

/* .border{
    border: 2px solid rgb(246, 15, 15);
} */
body{
    background-color: aliceblue;
}
.bg-light-gray{
    background-color: aliceblue;
}
.logo-navebar{
    width: 150px;
    height: 70px;
   padding-top: 10px;
}
.m-1{
   
    padding-top: 0;
}
.red-1{
    /* border: 1px solid red; */
   
    
   
}
.red-2{
    /* border: 1px solid red; */
   
}
.about-2{
   
    margin-top: -15px;
}
/* .about-3{
    background-color: aqua;
  
} */
.text-2{
    
}
/* .text-1{
    background-color: rgb(43, 226, 226);
} */
/* .contact-1{
    background-color: blue;
} */

.Dred{
    color: rgb(146, 23, 23);
}

.Dblue
{
    color: rgb(15, 15, 136);
}
.DBred{
    background-color: rgb(146, 23, 23);
}

.DBblue
{
    background-color: rgb(1, 159, 207);
}
.Dbluel
{
   color:rgb(1, 159, 207);
}


.f-blod
{
    font-weight: bold;
}

.bradius
{
    border-radius: 1rem;
}


.bradius2
{
    border-radius: 2rem;
}